<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="playAudio()" expand="block" fill="clear" shape="round">
  Play Audio
</ion-button>
</ion-content>
