<ion-header>
  <ion-toolbar>
    <ion-title>
      Storage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let sound of sounds" (click)="changeMethod(sound)">
    <ion-label>{{sound}}</ion-label>
    <ion-checkbox [checked]="checkedSound(sound)"></ion-checkbox>
  </ion-item>


  <ion-item>
    <ion-label>Sound</ion-label>
    <ion-toggle #toggle [checked]='sound' (ionChange)="updateSound(toggle)"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Vibration</ion-label>
    <ion-toggle #toggle [checked]='vibration' (ionChange)="updateVibration(toggle)"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{sound}}</ion-label>
    <ion-label>{{vibration}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>{{selectedSound}}</ion-label>
  </ion-item>

  <ion-button (click)="nextpage()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
</ion-content>
